@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald Light';
    src: url('fonts/oswald-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

$font-family-base: 'Source Sans Pro', 'helvetica', 'arial', 'sans-serif' !default;
$font-family-secondary: 'Oswald Light', 'helvetica', 'arial', 'sans-serif' !default;

$font-size-base: 16px;
$line-height-base: $font-size-base * 1.4;